<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vitec.task.smartrule">

    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->


    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/instructions_logo_3x"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/instructions_logo_3x"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label"
        >

        <!--其他的配置项-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vitec.task.smartrule.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--登录界面-->
        <activity android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            >

        </activity>
        <!--<activity android:name=".activity.DeviceActivity">-->
            <!---->
        <!--</activity>-->
        <activity android:name=".activity.unuse.UnuseMainActivity"/>
        <activity android:name=".activity.ChooseMeasureMsgActivity"/>

        <activity android:name=".activity.DealDeviceDataActivity"/>
        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.MeasureManagerAcitivty"/>

        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SearchMeasureDataActivity"/>
        <activity android:name=".activity.DeviceManagerActivity">

        </activity>
        <activity android:name=".activity.unuse.UserCenterActivity"/>
        <!--修改密码-->
        <activity android:name=".activity.ChangePasswordActivity"/>
        <!--检查更新-->
        <activity android:name=".activity.CheckUpdateActivity"/>
        <!--联系我们-->
        <activity android:name=".activity.ContactOurActivity"/>
        <!--等待测量-->
        <activity android:name=".activity.WaitingMeasureActivity"/>
        <!--测量记录管理界面-->
        <activity android:name=".activity.MeasureRecordActivity"/>
        <activity android:name=".activity.MeasureRecordManagerAcitivty"/>
        <!--管理测量文件-->
        <activity android:name=".activity.MeasureFileActivity"/>
        <activity android:name=".activity.unuse.ImageTestActivity2">
        </activity>
        <!--首页管理-->
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            >

        </activity>
        <!--忘记密码-->
        <activity android:name=".activity.ForgetPswActivity"/>
        <!--个人资料-->
        <activity android:name=".activity.UserDatumActivity"/>
        <!--修改姓名-->
        <activity android:name=".activity.UpdateUserNameActivity"/>
        <!--修改手机号码-->
        <activity android:name=".activity.ChangeMobileActivity"/>
        <!--使用说明界面-->
        <activity android:name=".activity.UseInstructionActivity"/>
        <!--新建测量组页面-->
        <activity android:name=".activity.CreateMeasureTeamActivity"/>
        <!--测量组管理页面-->
        <activity android:name=".activity.MeasureTeamManagerActivity"
            android:launchMode="singleTop"
            />
        <!--添加团队成员页面-->
        <activity android:name=".activity.AddMemberActivity"/>
        <!--编辑项目信息页面-->
        <activity android:name=".activity.EditMeasureMsgActivity"/>

        <!--注册微信回调 WXEntryActivity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />


        <!--QQ-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>


        <activity android:name=".activity.unuse.TestActivity">

            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="adkd" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.SmsLoginActivity"/>
        <!--启动页-->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity android:name=".activity.MainHomeActivity"
            android:launchMode="singleTask">
        </activity>

        <!--<activity android:name=".dfu.DfuDialog"/>-->

        <service android:name=".service.BleScanService"/>
        <service android:name=".service.ConnectDeviceService"/>
        <service android:name=".service.intentservice.GetMudelIntentService"/>
        <service android:name=".service.intentservice.PerformMeasureNetIntentService"/>
        <service android:name=".dfu.service.DfuService"/>
        <service android:name=".dfu.service.UpdateFirmIntentService" />
        <service android:name=".service.HandleBleMeasureDataReceiverService"/>
        <service android:name=".service.intentservice.ExportDataToExcelIntentService"/>
        <service android:name=".service.intentservice.ReplenishDataToServerIntentService"/>
        <!--处理修改用户资料的各种请求-->
        <service android:name=".service.ChangeUserMessageIntentService"/>
        <!--处理获取手机验证码和验证验证码是否正确的请求-->
        <service android:name=".service.intentservice.RequestMoblieIntentService"/>
        <!--处理上传文件类型的请求：上传头像和上传图纸-->
        <service android:name=".service.intentservice.UploadPicIntentService"/>
        <!--检查APP更新-->
        <service android:name=".service.intentservice.UpdateAppVersionIntentService"/>
        <!--项目管理相关的各种接口请求-->
        <service android:name=".service.intentservice.ProjectManageRequestIntentService"/>
        <!--处理个人中心相关的网络请求-->
        <service android:name=".service.intentservice.AboutUserIntentService"/>

    </application>

</manifest>