<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vitec.task.smartrule">

    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->


    <application
        android:name=".aliyun.app.AliYunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label"
        >

        <!--其他的配置项-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vitec.task.smartrule.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.LoginActivity">


        </activity>
        <activity android:name=".activity.DeviceActivity">

        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ChooseMeasureMsgActivity"/>

        <activity android:name=".activity.DealDeviceDataActivity"/>
        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.MeasureManagerAcitivty"/>

        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SearchMeasureDataActivity"/>
        <activity android:name=".activity.DeviceManagerActivity">

        </activity>
        <activity android:name=".activity.UserCenterActivity"/>
        <activity android:name=".activity.ChangePasswordActivity"/>
        <activity android:name=".activity.CheckUpdateActivity"/>
        <activity android:name=".activity.ContactOurActivity"/>
        <activity android:name=".activity.WaitingMeasureActivity"/>
        <activity android:name=".activity.MeasureRecordActivity"/>
        <activity android:name=".activity.MeasureRecordManagerAcitivty"/>
        <activity android:name=".activity.MeasureFileActivity"/>
        <activity android:name=".activity.ImageTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--注册微信回调 WXEntryActivity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />


        <!--QQ-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>


        <activity android:name=".activity.TestActivity">

            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="adkd" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.SmsLoginActivity"/>
        <activity android:name=".activity.MainHomeActivity"
            android:launchMode="singleTask"
            />
        <!--<activity android:name=".dfu.DfuDialog"/>-->

        <service android:name=".service.BleScanService"/>
        <service android:name=".service.ConnectDeviceService"/>
        <service android:name=".service.intentservice.GetMudelIntentService"/>
        <service android:name=".service.intentservice.PerformMeasureNetIntentService"/>
        <service android:name=".dfu.service.DfuService"/>
        <service android:name=".dfu.service.UpdateFirmIntentService" />
        <service android:name=".service.HandleBleMeasureDataReceiverService"/>
        <service android:name=".service.intentservice.ExportDataToExcelIntentService"/>
        <service android:name=".service.intentservice.ReplenishDataToServerIntentService"/>

    </application>

</manifest>